.page-header
  %h1.text-center
    Plays
.row(ng-controller='EventsCtrl')
  .col-md-8.col-md-offset-2

    .form-group
      %input.form-control(ng-model='query' ng-keydown='typing()')
      .help-text.text-right
        .checkbox
          %label
            %input(type='checkbox' ng-model='requireVideo' ng-change='loadEvents()')
            %small Only show plays with clips 



    %div(ng-repeat='event in events')
      .pull-right
        %small.text-muted
          {{event.kind}}, {{event.starts_at}}
          %span(ng-if='event.ends_at') - {{event.ends_at}}

      %p
        %a(ng-href='/events/{{event.id}}') {{event.title}}
        %small.text-muted {{event.video_count}} clips

      %hr

    .text-center
      %a.btn.btn-default(ng-click='loadMore()') Show more

