
html, body { 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.no-top { margin-top: 0; }
hr { margin: 10px 0; border-color: #999999; }

a, a:hover { color: #2F80ED; }

.table.table-middle td {
  vertical-align: middle;
}

.back-link {
  margin-top: 20px;
}

.page-header {
  margin: 70px 0 40px;
  text-align: center;
  border-bottom: none;
}

.back-link + .page-header {
  margin-top: 28px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-list {
  opacity: 1;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}
.event-list.transparent { opacity: 0.6; }

.disco-ball {
  height: 72px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
}
